.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #e5e7eb;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3b82f6;
    border-radius: 4px;
    border: 2px solid #e5e7eb;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #2563eb;
}